.App {
    --header_height: 60px;
}

.hw {
    padding: 36px 70px;





}

.hwTitle {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #D9D9D9;
    padding-left: 70px;
    padding-top: 107px;
}
