.button {
}

.disabled {

}

.secondary {
    color: blue;
}

.default {
    color: black;
}

.red {
    color: red;
}

.default:hover {

}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {

}

.button:disabled {
    color: black;
    opacity: 0.5;
}
